<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.try1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Try1">
        <activity android:name=".videoRussia"></activity>
        <activity android:name=".videoTurkey" />
        <activity android:name=".videoIndia" />
        <activity android:name=".videoIran" />
        <activity android:name=".videoMalaysia" />
        <activity android:name=".videoAmerica" />
        <activity android:name=".videoSaudiArabia" />
        <activity android:name=".videoChina" />
        <activity android:name=".videoAfghanistan" />
        <activity android:name=".videoPakistan" />
        <activity android:name=".pakistan" />
        <activity android:name=".malaysia" />
        <activity android:name=".turkey" />
        <activity android:name=".saudiArabia" />
        <activity android:name=".russia" />
        <activity android:name=".america" />
        <activity android:name=".china" />
        <activity android:name=".iran" />
        <activity android:name=".afghanistan" />
        <activity android:name=".india" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>